h1{
    font-size:large;
   
}


.p1{
    color:rgb(216, 37, 37);
}

.p2{
    color: rgb(49, 51, 190);
}

.p3{
    color: slateblue;
}

body{
    background-color: rgb(255, 169, 41);
}

nav a{
    font-size: 25px;
    color: chartreuse;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    }

    h5{
        font-size:xx-large;
    text-align: center; 
    }


    
